<p id="notice"><%= notice %></p>

<h1>Listing Groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= link_to 'Show', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <!--Try to make less sketchy-->
          <%#= form_for group, :url =>  join_group_path(group) do |f| %>
            <td><%= link_to 'Join', join_groups_path(id: group.id) %></td>
            <td><%#= f.submit "Join" %></td>
            <td><%= link_to 'Leave', leave_groups_path(id: group.id, user_id: current_user.id) %></td>
          <% #end %>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path %>
