<h1>Listing Groups</h1>

<table>
  <thead>
      <h3>Name</h3>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <strong><%= group.name %></strong> |
      <%= link_to 'Show', group %> | 
      <%= link_to 'Edit', edit_group_path(group) %> | 
        <!--Try to make less sketchy-->
            <%= link_to 'Join', join_groups_path(id: group.id) %> | 
            <%= link_to 'Leave', leave_groups_path(id: group.id, user_id: current_user.id) %> | 
      <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path %>
