<h1>Name: <%= @group.name %></h1>

<strong>Group Members:</strong>

<% @group_members.each do |member| %>
	<ul>
		<li><%= link_to User.where(id: member.user_id).first.first_name, user_path(id: member.user_id) %></li>
	</ul>
<% end %>
<br>

<% if @is_member %>
	<%= link_to 'Leave', leave_groups_path(id: @group.id) %> |
		<% if @group.matched == false  && @members_count >= 2 %>
			<%= link_to 'Match', groups_match_path(id: @group.id), method: :post%> |
		<% else %>
			<%= link_to 'View Your Match', groups_mymatch_path(id: @group.id) %> |
		<% end %>
<% else %>
	<% if !@group.matched %>
		<%= link_to 'Join', join_groups_path(id: @group.id, user_id: current_user.id) %> |
	<% end %>
<% end %>

<% if @is_admin %>
	<%= link_to 'Edit', edit_group_path(@group) %> |
	<% if @group.matched %>
		<%= link_to 'UnMatch', groups_unmatch_path(id: @group.id, user_id: current_user.id), method: :post %> |
	<% end %>
<% end %>
<%= link_to 'Back', groups_path %>
